<mat-form-field>
    <input matInput placeholder="Ingrese ciudad" #cityCtrl (keydown.enter)="search(cityCtrl.value)">
    
    <mat-icon matSuffix (click)="search(cityCtrl.value)">search</mat-icon>
  </mat-form-field>

  <mat-card *ngIf="weather">
    
    <mat-card-header>
      <mat-card-title>{{weather.name}}, {{weather.sys.country}}</mat-card-title>
      <mat-card-subtitle>{{weather.weather[0].main}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" [alt]="weather.weather[0].main">
    
    <mat-card-content>
      <h1>{{weather.main.temp | number:'1.0-0'}} &#8451;</h1>
      <li>Temp Min: {{weather.main.temp_min}} °C</li>
      <li>Temp Max: {{weather.main.temp_max}} °C</li>

      <li>Presion: {{weather.main.pressure}} hPa</li>
      <li>Humedad: {{weather.main.humidity}} %</li>
      <li>Viento: {{weather.wind.speed}} m/s</li>
      <li>Dirección: {{weather.wind.deg}} Grados Az N</li>
    </mat-card-content>

  </mat-card>